<%- include('partials/head') %>
   
<div class="container">
    
    <h1>All the Cats!</h1>

    <ul>
        <% for (let cat of cats) { %>
            <li><%= cat %> </li>
        <% } %>
    </ul>
</div>
<!-- Introduced loops targeting const in index.js -->

<%- include('partials/footer') %>
