<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Qui doloribus excepturi molestias porro quisquam culpa nemo 
        asperiores inventore obcaecati deserunt. Rerum deleniti dolorum 
        impedit dolores quas, harum pariatur excepturi sit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Qui doloribus excepturi molestias porro quisquam culpa nemo 
        asperiores inventore obcaecati deserunt. Rerum deleniti dolorum 
        impedit dolores quas, harum pariatur excepturi sit.</p>
    
        <!-- introduced using EJS files to display HTML -->
</body>
</html>