<%- include('partials/head') %>

<div class="container">
    
    <h1>The Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Qui doloribus excepturi molestias porro quisquam culpa nemo 
        asperiores inventore obcaecati deserunt. Rerum deleniti dolorum 
        impedit dolores quas, harum pariatur excepturi sit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Qui doloribus excepturi molestias porro quisquam culpa nemo 
        asperiores inventore obcaecati deserunt. Rerum deleniti dolorum 
        impedit dolores quas, harum pariatur excepturi sit.</p>

</div>
    
        <!-- introduced using EJS files to display HTML -->
<%- include('partials/footer') %>
